<h1>Books#show</h1>
<h1>Book detail</h1>

<div>
  <h2>Use info</h2>
  <p>name   <%= @book.user.name %></p>
  <p>introduction   <%= "hello" %></p>
  <% if @book.user == current_user %>
    <p> <%= link_to "Edit", edit_book_path(@book.id), method: :get %></p>
    <p> <%= link_to "Destroy", book_path(@book), method: :delete %></p>
  <% end %>
</div>

<div>
  <%= image_tag @book.user.get_profile_image %>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>

</div>