<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1", maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>




       <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in?  %>
            <li class="nav-item">
              <%= link_to "Bookers", books_path, method: :get %>
            </li>
            <li class="nav-item">
              <%= link_to "Home", user_path(current_user.id), method: :get %>
            </li>
            <li class="nav-item">
              <%= link_to "Users", users_path, method: :get %>
            </li>
            <li class="nav-item">
              <%= link_to "Books", books_path, method: :get %>
            </li>

            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>

      <%else%>
        <li class="nav-item">
          <%= link_to "Bookers", '/', method: :get %>
        </li>
        <li>
          <%= link_to "Home", '/', method: :get %>
        </li>
        <li>
          <%= link_to "About",'/home/about' %>
        </li>

        <li>
          <%= link_to "Sign up", new_user_registration_path %>

        </li>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
      <%end%>
          </ul>
        </div>
        </div>


      </nav>

    </header>
    <% if user_signed_in?  %>
      <h2>User info</h2>
        <div>
          <p><%= image_tag current_user.get_profile_image %></p>

          <p>name    <%=current_user.name  %></p>
          <p>introduction     <%=current_user.introduction  %></p>
          <p><%= link_to 'User_edit',edit_user_path(current_user.id)  %></p>

        </div>

          <h1>New book</h1>

       <%= form_with model: @book=Book.new do |f| %>

          <h4>Title</h4>
            <%= f.text_field :title %>
          <h4>Opinion</h4>
            <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
       <% end %>
    <%end%>

    <%= yield %>
  </body>
</html>
